<section class="skills" id="skills">
    <h2 class="text-center heading heading__secondary">Technologies I work on</h2>
      <div class="skills__container grid">
        <div class="skills__container" *ngFor="let skill of skillIcons">
          <div class="skill__item" key="{index}" title="{{ skill.title }}">
            <img
              src="{{ skill.iconUrl }}"
              alt="{{ skill.title }}"
              class="skillImg"
            />
            <span class="skill__name">{{ skill.title }}</span>
          </div>
        </div>
      </div>
  </section>
  